<div class="list">

  <div class="item item-divider">
    {{formattedDate}} {{amountsTotal}}
  </div>

  {{#each groupedTransaction.transactions as |transaction|}}
    {{transaction-card transaction=transaction}}
  {{/each}}
</div>