.scroll-content{
  background-color: #EEEEEE;
}

.item-day{
  border-style: none;
  margin-top: 15px;
}

.item-transaction{
  padding-left: 72px;
  min-height: 72px;
  border-style: none;
}

.item-transaction img:first-child{
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.item-transaction h2{
  display: inline-block;
}

.amount{
  float: right;
}